  <div class= "container" style=background-color:#DDDDDD;>
    <div class="row">
    </div></br>
    <div class="row">
      <div class="col-md-offset-2 col-md-7" style="background-color:#EEEEEE; padding-right: 0; padding-left: 0;">
        <% @tweets.each do |tweet| %>
          <table class="table">
            <tr>
              <th width="100">
                <!--ツイートしたユーザーのプロフィール画像を取得-->
                <%= image_tag('sample-author1.jpg', class: "img-circle pull-left profile-thumb") %></th>
              <td height="100">
                <!--ツイートしたユーザーネームを取得-->
                <%= link_to tweet.user.name, user_path(tweet.user)%>
                <!--ツイートした日付を取得-->
                <%= tweet.created_at.strftime('%Y/%m/%d %H:%M:%S') %></br>
                <!--ツイート内容を取得-->
                <%= tweet.body %></br>
                <!--ツイート画像を取得-->
                <%= attachment_image_tag tweet, :image, :fill, 500, 300, format: 'jpg'  %></br>
                <h4>
                  <!--コメント数える-->
                  <%= link_to "", tweet_path(tweet.id), class: "far fa-comment" %>
                  <%= tweet.tweet_comments.count %>
                  <!--いいね機能-->
                  <% if tweet.favorited_by?(current_user) %>
                <%= link_to tweet_tweet_favorites_path(tweet), method: :delete do %>
                 <i class="fas fa-candy-cane" style="color: red;"></i>
                  <%= tweet.tweet_favorites.count %>
                <% end %>
              <% else %>
                <%= link_to tweet_tweet_favorites_path(tweet), method: :post do %>
                  <i class="fas fa-candy-cane"></i>
                  <%= tweet.tweet_favorites.count %>
                <% end %>
              <% end %>
                <!--ツイート削除-->
                <% if tweet.user == current_user %>
                <%= link_to "ツイート削除",tweet_path(tweet), method: :delete, "data-confirm"=>"本当に削除しますか？", class:"btn btn-danger" %>
                <% end %>
                </h4>
              </td>
            </tr>
          </table>
        <% end %>
      </div>
    </div>
  </div>
