  <div class= "container">
    <div class= "row">
      <div class="col-md-5 col-md-offset-1">
        <span style="padding-left: 50px;"> <%= image_tag "candy_ranking.png" , :size => "300x200" %></span><br><br>
        <!--今月最もキャンディーを貰っている人ランキング-->
        <% @favorites.each.with_index(1) do |tweet, i| %>
          <p3>第 <%= i %>位</p3>
            <%= render "tweet_show", tweet: tweet %>
        <% end %>
      </div>
      
      <div class="col-md-5 col-md-offset-1">
        <span style="padding-left: 50px;"> <%= image_tag "comment_ranking.png" , :size => "300x200" %></span><br><br>
          <!--今月最もいいねを貰っている人ランキング-->
          <% @comments.each.with_index(1) do |tweet_comment, i|%>
            第 <%= i %>位
            <table>
              <tr>
                <th class="comment-ranking-th" width="100">
                  <%= attachment_image_tag tweet_comment.user, :image, :fill, 100, 100, fallback: "no_image.jpg", class: "img-circle profile-thumb"  %>
                </th>
                
                <td class="comment-ranking-td" width="100%">
                  <%= link_to tweet_comment.user.name, user_path(tweet_comment.user)%>
                  <%= tweet_comment.created_at.strftime('%Y/%m/%d %H:%M:%S') %></br></br>
                  <%= link_to tweet_comment.comment, tweet_path(tweet_comment.tweet) %></br></br>
                  <h4 class= <%= "comment_favorite-btn"+tweet_comment.id.to_s %>><%= render "comment_favorites/comment_favorite-btn", tweet_comment: tweet_comment %></h4>
                  <% if tweet_comment.user == current_user %> 
                  <%= link_to "コメント削除", tweet_tweet_comment_path(tweet_comment.tweet, tweet_comment), :remote => true, method: :delete, "data-confirm"=>"本当に削除しますか？", class:"btn btn-danger" %></br>
                  <% end %>
                </td>
              </tr>
            </table>
          <% end %>
          
      </div>
    </div>
  </div>