  <div class="container" style=background-color:#EEEEEE;>
    <div class="row">
      <div class="col-md-offset-2 col-md-7" style="background-color:#FFFFFF; padding-right: 0; padding-left: 0;">
        <!--ツイート詳細を表示-->
        <%= render "tweet_show", tweet: @tweet %>
        <h4>comment</h4>
        <!--コメント一覧を取得-->
        <div class= "tweet_comments">
          <%= render 'tweet_comments/comment', tweet: @tweet %>
        </div>
        <!--コメント投稿フォーム-->
        <%= form_with model:[@tweet, @tweet_comment] do |f| %>
          <div class= "row">
            <div class="col-md-10 col-md-offset-1">
              <%= f.text_area :comment, rows:'4', class: "form-control", placeholder:"コメントをこちらに" %></br>
              <%= f.submit "送信", class:"btn btn-info pull-right" %>
            </div>
          </div>  
        <% end %>
      </div>  
    </div>      
  </div>