  <div class="container" style=background-color:#EEEEEE;>
    <div class="row">
      <div class="col-md-offset-2 col-md-7" style="background-color:#FFFFFF; padding-right: 0; padding-left: 0;">
        <!--ツイート詳細を表示-->
        <table class="table">
          <tr>
            <th class="tweet-show" width="100">
              <%= attachment_image_tag @tweet.user, :image, :fill, 100, 100, fallback: "no_image.jpg", class: "img-circle profile-thumb" %></th>
            <td class="tweet-show" height="100">
              <%= link_to @tweet.user.name, user_path(@tweet.user)%>
              <%= @tweet.created_at.strftime('%Y/%m/%d %H:%M:%S') %></br>
              <%= @tweet.body %></br>
              <%= attachment_image_tag @tweet, :image, :fill, 500, 300, format: 'jpg'  %></br>
              <h4>
                <%= link_to "", tweet_path(@tweet.id), class: "far fa-comment" %>
                <%= @tweet.tweet_comments.count%>
              <!--ツイートいいねボタン-->
              <i class= <%= "tweet_favorite-btn"+@tweet.id.to_s %>><%= render "tweet_favorites/tweet_favorite-btn", tweet: @tweet %></i>
              <% if @tweet.user == current_user %>
                <%= link_to "ツイート削除",tweet_path, method: :delete, "data-confirm"=>"本当に削除しますか？", class:"btn btn-danger" %>
              <% end %>
              </h4>
            </td>
          </tr>
        </table>
        <h4>comment</h4>
        <!--コメント一覧を取得-->
        <div class= "tweet_comments">
          <%= render 'tweet_comments/comment', tweet: @tweet %>
        </div>
        <!--コメント投稿フォーム-->
        <%= form_with model:[@tweet, @tweet_comment] do |f| %>
          <div class= "row">
            <div class="col-md-10 col-md-offset-1">
              <%= f.text_area :comment, rows:'4', class: "form-control", placeholder:"コメントをこちらに" %></br>
              <%= f.submit "送信", class:"btn btn-info pull-right" %>
            </div>
          </div>  
        <% end %>
      </div>  
    </div>      
  </div>