  <div class="container" style=background-color:#DDDDDD;>
    <div class="row">
      <div class="col-md-offset-2 col-md-7" style="background-color:#FFFFFF; padding-right: 0; padding-left: 0;">
        <!--ツイート詳細を表示-->
        <table class="table">
          <tr>
            <th class="tweet-show" width="100">
              <!--ツイートしたユーザーのプロフィール画像を取得-->
              <%= image_tag('sample-author1.jpg', class: "img-circle pull-left profile-thumb") %></th>
            <td class="tweet-show" height="100">
              <!--ツイートしたユーザーネームを取得-->
              <%= link_to @tweet.user.name, user_path(@tweet.user)%>
              <!--ツイートした日付を取得-->
              <%= @tweet.created_at.strftime('%Y/%m/%d %H:%M:%S') %></br>
              <!--ツイート内容を取得-->
              <%= @tweet.body %></br>
              <!--ツイート画像を取得-->
              <%= attachment_image_tag @tweet, :image, :fill, 500, 300, format: 'jpg'  %></br>
              <!--コメント数を数える-->
              <h4>
                <%= link_to "", tweet_path(@tweet.id), class: "far fa-comment" %>
                <%= @tweet.tweet_comments.count%>
              </h4>
              <!--いいね機能-->
              <% if @tweet.favorited_by?(current_user) %>
              <li>
                <%= link_to tweet_tweet_favorites_path(@tweet), method: :delete do %>
                  <i class = "fa fa-heart" aria-hidden="true" style="color: red;"></i>
                  <%= @tweet.tweet_favorites.count %>
                <% end %>
              </li>
              <% else %>
              <li>
                <%= link_to tweet_tweet_favorites_path(@tweet), method: :post do %>
                  <i class="fa fa-heart-o" aria-hidden="true"></i>
                  <%= @tweet.tweet_favorites.count %>
                <% end %>
              </li>
              <% end %>
              <!--ツイート削除機能-->
              <% if @tweet.user == current_user %>
                <%= link_to "削除",tweet_path, method: :delete, "data-confirm"=>"本当に削除しますか？", class:"btn btn-danger" %>
              <% end %>
            </td>
          </tr>
        </table>
        
        <h4>comment</h4>
        <!--コメント一覧を取得-->
        <div class= "tweet_comments">
          <%= render 'tweet_comments/comment', tweet: @tweet %>
        </div>
        <!--コメント投稿フォーム-->
        <%= form_with model:[@tweet, @tweet_comment] do |f| %>
          <div class= "row">
            <div class="col-md-10 col-md-offset-1">
              <%= f.text_area :comment, rows:'4', class: "form-control", placeholder:"コメントをこちらに" %></br>
              <%= f.submit "送信", class:"btn btn-info pull-right" %>
            </div>
          </div>  
        <% end %>
      </div>  
    </div>      
  </div>