<div class="container" style="background-color: #EEEEEE;">
    <div class="row">
      <div class="col-md-4">
        <%= render 'flash_messages' %>
            <table class="table">
              <tr>
                <th class="user-formtitle"><h3>プロフィール</h3></th>
              </tr></br>
              <tr>
                <td class="user-form" height="60"><%= attachment_image_tag @user, :image, :fill, 100, 100, class: "img-circle profile-thumb", fallback: "no_image.jpg"%></td>
              </tr>
              <tr>
                <td class="user-form"><h4 class="fas fa-user-tie"></i><%= @user.name%></h4></td></br>
              </tr>
              <tr>
              <tr>
                <td class="user-form" height="60"><%= @user.profile%></td>
              </tr>
              <tr>
                <td class="user-form" height="40">
                  <%= link_to @user.followings.where(is_deleted: false).count,user_followings_path(@user) %>フォロー
                  <%= link_to @user.followers.where(is_deleted: false).count,user_followers_path(@user) %>フォロワー
                </td>
              </tr>
              <tr>
                <% if @user != current_user %>
                  <td class="user-form"><%= render 'info', user: @user %></td>
                <% end %>
              </tr>
              <tr>
                <% if @user == current_user %>
                  <td class="user-form" height="60"><%= link_to"", edit_user_path(current_user), class: "btn btn-default btn-block glyphicon glyphicon-wrench" %></td></br>
                <% end %>
              </tr>
              <tr>
              </tr>
              <tr>
                <% if @user == current_user %>
                  <td class="user-form" height="60"><%= link_to "退会する", users_quit_path(current_user), class:"btn btn-danger" %></td>
                <% end %>
              </tr>
            </table>
      </div>
      <div class="col-md-7" style="padding-right: 0; padding-left: 0;"><br><br>
        <!--idユーザーのタイムライン-->
        <% if @tweets.exists? %>
          <%= render "tweets/tweet_timeline", tweets: @tweets %>
        <% else %>
          <h3 class="text-center">つぶやきはありません</h3>
        <% end %>
      </div>
    </div>
  </div>